.full-header{
    height: 70px;
    padding-top: 10px;
    background-color: #013f1d;
    color: whitesmoke;
    .app-header{        
        width: 1400px;
        margin: 0 auto;        
        background-color: rgba(95, 158, 160, 0);
    }
}
