.carousel__pagination-button {
    margin: var(--vc-pgn-margin);
    width: var(--vc-pgn-width);
    height: var(--vc-pgn-height);
    border-radius: var(--vc-pgn-height);
    border: 0;
    cursor: pointer;
    background-color: white;
  }

  .carousel__prev,
.carousel__next {
  background-color: white;
  border-radius: var(--vc-nav-width);
  width: 48px;
  height:48px;
  text-align: center;
  font-size: calc(var(--vc-nav-width) * 2 / 3);
  padding: 0;
  color: var(--vc-nav-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 0;
  cursor: pointer;
  top: 50%;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
 
}

.carousel__icon {
  width: var(--vc-icn-width);
  height: var(--vc-icn-width);
  fill: currentColor;
  background-color: black;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMWwriqhsqzRnd_lU-8el8JRST4h_MOGaKcw&usqp=CAU);
}

.main-home-1{
  padding: 0 40px 0 40px;
}

.carousel {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  right:10px;
}
