.gig-edit {
    background-color: rgb(247, 247, 247);
    width: 100%;
    padding-top: 40px;
    form {
        width: 700px;
        margin: 0 auto;
        .form-container {
            border-radius: 5px 5px 0 0;
            border: 1px solid #dadbdd;
            padding: 25px;
            // display: flex;
            // flex-direction: column;
            background-color: white;
            margin-top: 120px;
            textarea{
                resize: none;
                font-family: macan;
                border: 1px solid #c5c6c9;
            }
            label {
                padding: 5px 10px;
                width: 15%;
                float: left;
            }
            .title-input {
                width: 85%;
                padding: 20px;
                font-size: 30px;
            }
            .img-input-container{
                .img-input{
                    width: 30%;
                    height: 130px;
                    margin: 1.66%;
                    padding: 10px 1.65%;
                    border: 1px solid #c5c6c9;
                    border-radius: 20px;
                }
            }
        }
    }
}
