// SETUP
@import 'setup/typography';
@import 'setup/variables';
@import 'setup/mixins';
@import 'setup/functions';

// BASICS
@import 'basics/base';
@import 'basics/layout';

// COMPONENTS
@import 'components/app-header';
@import 'components/toy-filter';
@import 'components/gig-preview';
@import 'components/gig-list';


// VIEWS
@import 'components/toy-app';
@import 'components/toy-edit';
@import 'components/toy-dashboard';
@import 'components/toy-details';

