@font-face {
    font-family: domaine;
    src: url('/src/assets/fonts/test-domaine-display-regular-italic.woff2');
}

@font-face {
    font-family: logoFont;
    src: url('/src/assets/fonts/ELEPHNT.TTF');
}